<div>
    <p>
      <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-filter"></i>
        Filtrar
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="row container">
        <div class="card card-body col-md-12 col-xl-10 mb-4">
          <div  class="mb-3" *ngFor="let anio of horarios">
            <app-filtro-item [object]="anio"></app-filtro-item>
          </div>
        </div>
      </div>
    </div>

  </div>