<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" [id]="object.nombre" value="option1" (change)="selectAll()" [checked]="selectedAll" >
    <label class="form-check-label font-weight-bold text-uppercase"  [for]="object.nombre" >{{object.nombre}}</label>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let n of names">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" [id]="n.nombre" value="option1" [(ngModel)]="n.filtrado" (change)="checkIfAllSelected()">
        <label class="form-check-label" [for]="n.nombre" >{{n.nombre }}</label>
      </div>
    </div>
  </div>